body {
    padding: 0;
    margin: 0;
    background:url(img/bg\ for\ site.jpg);
    font-family:fantasy;
}
img {
    display: block;
    height: 350px;
    width: 300px;
    margin: auto;
}
p {
    text-align: center;
    font-size: 30px;

}
.bg {
    display: block;

}
